@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&family=Pacifico&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* HEADER NAV BAR */

nav {
  display: flex;
  flex-direction: row;
  background-color: white;
  position: fixed;
  width: 100%;
  height: 90px;
  border-bottom: 4px solid #ff7e00;
}
header {
  z-index: 1;
}

nav ul {
  top: 0;
  bottom: 0;
  right: 0;
  letter-spacing: 1.2px;
  position: absolute;
  float: right;

  justify-content: space-between;
  align-items: left;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 22px;
}
nav ul li a {
  font-family: Pacifico, sans-serif;
  font-weight: 500;
  color: #5fb924;
  font-size: 24px;
}
.navbarlinks {
  display: flex;
  flex-direction: row;
}
.navlinksdesktop {
  float: left;
}
a:hover {
  color: #ff7e00;
}
.linebetween {
  width: 2px;
  height: 60px;
  background-color: #ff7e00;
  margin-top: 12px;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.parent {
  background: url(./assets/header\ background.jpg) no-repeat;
  background-size: cover;
  height: 900px;
  width: 100%;
}
.welcome {
  color: white;
  text-align: center;
  font-size: 45px;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  padding-top: 200px;
}
.to {
  font-weight: 400;
  font-size: 60px;
}

.btnmenu {
  z-index: -1;
  padding: 7px 11px;
  background-color: transparent;
  border: 1.9px solid;
  border-radius: 30px;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  color: white;
  font-weight: 300;
  font-size: 24px;
  height: 56px;
  width: 190px;
}
.btnmenu:hover {
  color: #ff7e00;
}
.btncenter {
  margin: auto;
  position: absolute;
  top: 100%;
  right: 43%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* menu icone */

#hamburger-icon {
  position: relative;
  float: left;
  left: 30%;
  margin: auto;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: #04bd70;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.nav-links {
  font-family: Pacifico, sans-serif;
  font-weight: 500;
  color: #5fb924;
  font-size: 18px;
  border: 3px solid #ff7e00;
  border-top: white;
  display: none;
  position: absolute;
  top: 50px;
  right: 0px;

  height: calc(40vh - 40px);
  width: 1000%;
  background-color: white;
}

.nav-links li {
  margin-bottom: 10px;
  line-height: 2;
}
.nav-links li a {
  text-decoration: none;
  color: #5fb924;
}
.nav-links li a:hover {
  color: #ff7e00;
}
/* jvscrip slider */
* {
  box-sizing: border-box;
}

.mySlides {
  display: non;
}
.slideshow-container img {
  vertical-align: middle;
  border-radius: 30px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -44px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: #ff7e00(0, 0, 0, 0.8);
}

/* Caption text */

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #c1f79d;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #5fb924;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* menu icone */
/* HEADER NAV BAR */

.gridcontainer {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 50px;
  padding: 20px;
  margin: 44px 110px 0px 170px;
}

.grid-aboutus p {
  font-family: Montserrat;
  font-weight: 300;
  text-align: justify;
  font-size: 22px;
  width: 100%;
  line-height: 1.6;
}
.grid-aboutus p e {
  color: orange;
}
.DETAILS-part {
  display: grid;
  grid-template-columns: auto auto auto;
  font-family: Montserrat, sans-serif;
  margin-top: 30px;
  margin-left: 10px;
  height: 448px;
  width: 90%;
  border: 1px solid;
  border-radius: 19px;
}

.DETAILS-part P {
  margin-left: 23px;
  font-family: Montserrat, sans-serif;
  font-size: 17px;
}
.DETAILS-part h1 {
  margin-top: 10px;
  font-size: 33px;
  width: 100%;
  margin-left: 200px;
}
.details h2 {
  margin-left: 15px;
}
.titls {
  font-family: Montserrat, sans-serif;
  font-size: 22px;
  font-style: Bold;
}

.linebetween3 {
  width: 1px;
  height: 264px;
  background-color: black;
  margin-top: 116px;
}
.rating-detail {
  display: grid;
  grid-template-columns: auto auto;
}

.DETAILS-part {
  display: grid;
  grid-template-columns: auto auto auto;
  line-height: 2;
}
.features {
  margin-top: 75px;
  line-height: 2;
}
.ratings {
  margin-left: 90px;
  margin-top: 30px;
}
.detail {
  margin-top: 30px;
}
.rating-detail {
  display: grid;
  grid-template-columns: auto auto;
}

.h1 {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  padding-top: 24px;
  margin-left: 290px;
  text-decoration: underline 2px;
  text-decoration-color: #ff7e00;
  text-underline-offset: 0.5em;
}

.linebetween2 {
  z-index: -1;
  margin-left: 400px;
  width: 700px;

  border-bottom: 2px solid black;
  position: absolute;
}
.ratings {
  margin-left: 90px;
  margin-top: 30px;
}
.detail {
  margin-top: 30px;
}
.rating-detail {
  display: grid;
  grid-template-columns: auto auto;
}
.h2 {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  padding-top: 24px;
  text-align: center;
  text-decoration: underline 2px;
  text-decoration-color: #ff7e00;
  text-underline-offset: 0.5rem;
}
.ourchef {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 40px;
  margin-left: 100px;
}
.allmemebers img {
  margin-left: 8%;
}
main{
  background-color: aquamarine;
}
.VEGAN-TITLE {
  color: #ff7e00;
  margin-top: 40px;
  margin-left: 130px;
  font-family: roboto, sans-serif;
}
/* aicha work */
.MENU {
  margin-left: 5%;
}
.TITLE {
  color: #ff7e00;
  margin-top: 40px;
  margin-left: 130px;
  font-family: roboto, sans-serif;
}
h3 {
  
  color: #5fb924;
  text-align: center;
  font-style: Bold;
  font-size: 20px;
  
}

.ingredient {
  display: flex;
  flex-direction: column;
}
h5 {
  margin-top: 40px;
  font-size: 24px;
  font-style: Bold;
  line-height: 2;
}
p {
  font-size: 24px;
  line-height: 1, 7;
}

.Sushi {
  display: grid;
  grid-template-columns: auto auto auto;
}
/* BURGER */

.burger-ingredient {
  display: flex;
  flex-direction: column;
}
.burger {
  display: grid;
  grid-template-columns: auto auto auto;
}

.potato-ingredient {
  display: flex;
  flex-direction: column;
}
.potato {
  display: grid;
  grid-template-columns: auto auto auto;
}
.btn {
  padding: 7px 20px;
  background-color: transparent;
  position: absolute;
  border: 1.9px solid;
  border-radius: 30px;
  margin-left: 50%;
  box-shadow: 0px 3px #ff7e00;
}
.btn:hover {
  border: 3px solid;
  color: #ff7e00;
}

.Salmon-ingredient {
  display: flex;
  flex-direction: column;
}
.salmon {
  display: grid;
  grid-template-columns: auto auto auto;
}

.chiken-ingredient {
  display: flex;
  flex-direction: column;
}
.chiken {
  display: grid;
  grid-template-columns: auto auto auto;
}

.beef-ingredient {
  display: flex;
  flex-direction: column;
}
.beef {
  display: grid;
  grid-template-columns: auto auto auto;
}

.YOOW-ingredient {
  display: flex;
  flex-direction: column;
}

.waffle-ingredient {
  display: flex;
  flex-direction: column;
}
.waffle {
  display: grid;
  grid-template-columns: auto auto auto;
}

.yogurt-ingredient {
  display: flex;
  flex-direction: column;
}
.yogurt {
  display: grid;
  grid-template-columns: auto auto auto;
}

.banana-juice-ingredient {
  display: flex;
  flex-direction: column;
}
.banana-juice {
  display: grid;
  grid-template-columns: auto auto auto;
}

.pineapple-ingredient {
  display: flex;
  flex-direction: column;
}
.pineapple {
  display: grid;
  grid-template-columns: auto auto auto;
}
.barba-juice {
  margin-top: 20px;
  height: 284px;
  border: 1px solid;
  border-radius: 19px;
}
.BARBA-ingredient {
  display: flex;
  flex-direction: column;
}
.barba {
  display: grid;
  grid-template-columns: auto auto auto;
}

/* aicha work */
HEAD .TITLE {
  color: #ff7e00;
  margin-top: 40px;
  margin-left: 130px;
  font-family: roboto, sans-serif;
}
<<<<<<< HEAD

=======
h3 {
  color: #5fb924;
  margin-left: 700px;
  font-style: Bold;
  font-size: 33px;
}
>>>>>>> ddbc845ccda6a5d4afe23ad4194f006cd543e653

.ingredient {
  display: flex;
  flex-direction: column;
}
h5 {
  margin-top: 40px;
  font-size: 24px;
  font-style: Bold;
  line-height: 2;
}
p {
  font-size: 24px;
  line-height: 1, 7;
}
.img {
  border-radius: 19px;
<<<<<<< HEAD
  width: 257px;
  
  margin-top: -20px;
  
  

}
.borderfood{
  
align-items: center;
width: 70%;
margin: 0 auto;
height: auto;
border: 1px solid;
border-radius: 19px;
}
.price{
  margin-top: 160px;
  padding-right:50px;
  font-family: montserrat , sans-serif;
  font-weight: 500;
  width: 35px;

=======
  width: 357px;
  height: 284px;
  margin-top: -20px;
>>>>>>> ddbc845ccda6a5d4afe23ad4194f006cd543e653
}
.Sushi {
  display: grid;
  grid-template-columns: auto auto auto;
}
.borderfood {
  align-items: center;
  width: 70%;
  margin-left: 190px;

  margin-top: 20px;
  height: auto;
  border: 1px solid;
  border-radius: 19px;
}
.burger-ingredient {
  display: flex;
  flex-direction: column;
}
.burger {
  display: grid;
  grid-template-columns: auto auto auto;
}

.potato-ingredient {
  display: flex;
  flex-direction: column;
}
.potato {
  display: grid;
  grid-template-columns: auto auto auto;
}
.btn {
  padding: 7px 20px;
  background-color: transparent;
  position: absolute;
  border: 1.9px solid;
  border-radius: 30px;
  margin-left: 50%;
  box-shadow: 0px 3px #ff7e00;
}
.btn:hover {
  border: 3px solid;
  color: #ff7e00;
}

.Salmon-ingredient {
  display: flex;
  flex-direction: column;
}
.salmon {
  display: grid;
  grid-template-columns: auto auto auto;
}

.chiken-ingredient {
  display: flex;
  flex-direction: column;
}
.chiken {
  display: grid;
  grid-template-columns: auto auto auto;
}

.beef-ingredient {
  display: flex;
  flex-direction: column;
}
.beef {
  display: grid;
  grid-template-columns: auto auto auto;
}

.YOOW-ingredient {
  display: flex;
  flex-direction: column;
}
.yoow-apple {
  display: grid;
  grid-template-columns: auto auto auto;
}

.waffle-ingredient {
  display: flex;
  flex-direction: column;
}
.waffle {
  display: grid;
  grid-template-columns: auto auto auto;
}

.yogurt-ingredient {
  display: flex;
  flex-direction: column;
}
.yogurt {
  display: grid;
  grid-template-columns: auto auto auto;
}

.banana-juice-ingredient {
  display: flex;
  flex-direction: column;
}
.banana-juice {
  display: grid;
  grid-template-columns: auto auto auto;
}

.pineapple-ingredient {
  display: flex;
  flex-direction: column;
}
.pineapple {
  display: grid;
  grid-template-columns: auto auto auto;
}

.BARBA-ingredient {
  display: flex;
  flex-direction: column;
}
.barba {
  display: grid;
  grid-template-columns: auto auto auto;
}
/* comments */
.Sara {
  width: 100px;
  height: 100px;
  border-radius: 360px;
}
.saras-comment {
  background-color: rgba(228, 220, 220, 0.747);
  border-radius: 360px;
  margin-top: 10px;
  margin-left: 200px;
  font-family: roboto, sans-serif;
  display: grid;
  grid-template-columns: auto auto;
}
.saras-comment P {
  margin-left: -400px;
  margin-top: 20px;
  font-size: small;
  font-family: roboto, sans-serif;
  display: grid;
  grid-template-columns: auto auto;
}
.salim {
  width: 100px;
  height: 100px;
  border-radius: 360px;
}
.salim-comment {
  background-color: rgba(228, 220, 220, 0.747);
  border-radius: 360px;
  margin-top: 10px;
  margin-left: 200px;
  font-family: roboto, sans-serif;
  display: grid;
  grid-template-columns: auto auto;
}
.salim-comment P {
  margin-left: -400px;
  margin-top: 20px;
  font-size: small;
  font-family: roboto, sans-serif;
  display: grid;
  grid-template-columns: auto auto;
}
.zinbe {
  width: 100px;
  height: 100px;
  border-radius: 360px;
}
.zinbe-comment {
  background-color: rgba(228, 220, 220, 0.747);
  border-radius: 360px;
  margin-top: 10px;
  margin-left: 200px;
  font-family: roboto, sans-serif;
  display: grid;
  grid-template-columns: auto auto;
}
.zinbe-comment P {
  margin-left: -400px;
  margin-top: 20px;
  font-size: small;
  font-family: roboto, sans-serif;
  display: grid;
  grid-template-columns: auto auto;
}
.rachid {
  width: 100px;
  height: 100px;
  border-radius: 360px;
}
.rachid-comment {
  background-color: rgba(228, 220, 220, 0.747);
  border-radius: 360px;
  margin-top: 10px;
  margin-left: 200px;
  font-family: roboto, sans-serif;
  display: grid;
  grid-template-columns: auto auto;
}
.rachid-comment P {
  margin-left: -400px;
  margin-top: 20px;
  font-size: small;
  font-family: roboto, sans-serif;
  display: grid;
  grid-template-columns: auto auto;
}

.com {
  margin-top: 50px;
  font-family: Montserrat, sans-serif;
  margin-left: 700px;
  text-decoration: underline 2px;
  text-decoration-color: #ff7e00;
  text-underline-offset: 0.5rem;
}

/* aicha work */
/* foooterstart */

.btn1 {
  padding: 7px 20px;
  background-color: transparent;
  position: absolute;
  border: 1.9px solid;
  border-radius: 30px;
  margin-left: 70%;
  box-shadow: 0px 3px #ff7e00;
}
.btn1:hover {
  border: 3px solid;
  color: #ff7e00;
}

/* aicha work end */
/* footer start */
/* foooterstart */
footer {
  background: url(./assets/footer.jpg) no-repeat;
  background-size: cover;

  height: 697px;
  width: 100%;
}
.sitelinks {
  position: absolute;
  margin-top: 140px;
}
.sitelinks li {
  list-style: inside url(./assets/Vector\ list\ style.png);
  margin-left: 90px;
}
.sitelinks li a {
  font-family: roboto, sans-serif;
  font-weight: 400;
  color: white;
  font-size: 18px;
  text-align: justify;
  line-height: 3.4;
  margin-left: 7px;
}
.sitelinks li a:hover {
  color: #ff7e00;
}
.footercontainer {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: 300px 90px auto auto ;
    
}
.contactusfooter {
  font-family: roboto, sans-serif;
  font-weight: 400;
  color: white;
  position: absolute;
  margin-top: 90px;
  margin-left: 400px;
}
.contactusfooter li a {
  font-family: roboto, sans-serif;
  font-weight: 400;
  color: white;
  font-size: 17px;

  margin-left: 7px;
  color: white;
  line-height: 3.4;
}
.victor-adrss {
  list-style-image: url(./assets/Vector-adrss.png);
  margin-left: 0px;
}
.tele {
  list-style-image: url(./assets/Vector-tele.png);
  margin-left: 0px;
}
.email {
  list-style-image: url(./assets/Vector-email.png);
  margin-left: 0px;
}
.openingtime {
  color: white;
  position: absolute;
  margin-top: 75px;
  margin-left: 950px;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 2;
}

.hours {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: 00;
}
.openingtime p {
  margin-left: 60px;
}
.restaurants{
  position: absolute;
  display: grid;

}
.restaurants li {
  list-style: inside url(./assets/Vector\ list\ style.png);
}
.restaurants li a {
  font-family: roboto, sans-serif;
  font-weight: 400;
  color: white;
  font-size: 18px;
  text-align: justify;
  line-height: 3.4;
}
.sitelinks li a:hover {
  color: #ff7e00;
}
/* footerend */

@media only screen and (max-width: 700px) {
  
  .navlinksdesktop {
    display: none;
  }
  .linebetween2 {
    display: none;
  }
  .linebetween3 {
    width: 200px;
    height: 1px;
    background-color: black;
    margin-top: 1px;
    margin-left: 25%;
  }
  .DETAILS-part {
    display: grid;
    grid-template-columns: 1fr;
    font-family: Montserrat, sans-serif;
    margin-top: 30px;
    margin-left: 90px;
    height: 448px;
    width: 80%;
    border: 1px solid;
    border-radius: 19px;
    height: 750px;
  }

  .features {
    margin-left: 10px;
    margin-top: 0px;
    line-height: 2;
  }

  #hamburger-icon {
    display: block;
  }
  .btncenter {
    margin: auto;
    position: absolute;
    top: 100%;
    right: 34%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .gridcontainer {
    display: grid;
    grid-template-columns: 1fr;
  }
  .ourchef {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 40px;
    margin-left: 100px;
  }

  .ratings {
    width: 355px;
    margin-right: 70px;
  }
  .imgallmemeber {
    width: 500px;

    margin-left: 30px;
  }
  .rating-detail {
    display: grid;
    grid-template-columns: 1fr;
  }
  .MENU {
    margin-left: 17%;
  }
  .TITLE {
    color: #ff7e00;
    margin-top: 40px;
    margin-left: 1000px;
    font-size: 25px;
    font-family: roboto, sans-serif;
  }
  h3 {
  
    color: #5fb924;
    text-align: center;
    margin: 0 auto;
    font-style: Bold;
    font-size: 20px;
    
  }
<<<<<<< HEAD
  .imgmeal {
    border-radius: 19px;
    width:240px;
    height:200px ;
  
    margin-top: 0px;
    
    
  }
  /* media@700 */
  .borderfood{
  
    align-items: center;
    width: 90%;
    margin: 0 auto;
    height: auto;
    border: 1px solid;
    border-radius: 19px;
    }
  
=======

>>>>>>> ddbc845ccda6a5d4afe23ad4194f006cd543e653
  .ingredient {
    display: flex;
    flex-direction: column;
  }
  h5 {
    margin-top: 40px;
    font-size: 24px;
    font-style: Bold;
    line-height: 2;
  }
  p {
    font-size: 24px;
    line-height: 1, 7;
  }
  .img {
    border-radius: 19px;
    width: 357px;
    height: 284px;
    margin-top: -30px;
  }
  .Sushi {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .saras-comment P {
    margin-left: -200px;
    margin-top: 20px;
    font-size: small;
    font-family: roboto, sans-serif;
    display: grid;
    grid-template-columns: auto auto;
  }
  .salim-comment P {
    margin-left: -150px;
    margin-top: 20px;
    font-size: small;
    font-family: roboto, sans-serif;
    display: grid;
    grid-template-columns: auto auto;
  }
  .zinbe-comment P {
    margin-left: -200px;
    margin-top: 20px;
    font-size: small;
    font-family: roboto, sans-serif;
    display: grid;
    grid-template-columns: auto auto;
  }

  .rachid-comment P {
    margin-left: -150px;
    margin-top: 20px;
    font-size: small;
    font-family: roboto, sans-serif;
    display: grid;
    grid-template-columns: auto auto;
  }
  .btn1 {
    padding: 7px 20px;
    background-color: transparent;
    position: absolute;
    border: 1.9px solid;
    border-radius: 30px;
    margin-left: 300px;
    margin-top: 7px;
    box-shadow: 0px 3px #ff7e00;
  }
  .btn {
    padding: 7px 20px;
    background-color: transparent;
    position: absolute;
    border: 1.9px solid;
    border-radius: 30px;
    margin-left: 70%;
    box-shadow: 0px 3px #ff7e00;
  }
}

@media only screen and (min-width: 300px) {
  .TITLE {
    color: #ff7e00;
    margin-top: 40px;
    margin-left: 100px;
    font-family: roboto, sans-serif;
  }
  

  h5 {
    margin-top: 20px;
    font-size: 24px;
    font-style: Bold;
    line-height: 2;
  }

  p {
    font-size: 14px;
    line-height: 1, 7;
  }
  .img {
    border-radius: 19px;
    width: 257px;
    height: 204px;
    margin-top: -30px;
  }
  .Sushi {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .saras-comment P {
    margin-left: -8px;
    margin-top: 20px;
    font-size: small;
    font-family: roboto, sans-serif;
    display: grid;
    grid-template-columns: auto auto;
  }
  .salim-comment P {
    margin-left: 3px;
    margin-top: 20px;
    font-size: small;
    font-family: roboto, sans-serif;
    display: grid;
    grid-template-columns: auto auto;
  }
  .zinbe-comment P {
    margin-left: 3px;
    margin-top: 20px;
    font-size: small;
    font-family: roboto, sans-serif;
    display: grid;
    grid-template-columns: auto auto;
  }

<<<<<<< HEAD
    
      
      
      .allmemebers {
       
        margin-top: 40px;
        margin-left: 5px;
      }
    }

@media only screen and (max-width: 600px){

  .imgmeal {
    border-radius: 19px;
    width:200px;
    height:180px ;
    padding-right: 6px;
  
    margin-top: 0px;
    
    
  }
  /* media600 */
#hamburger-icon {
  position: relative;
  left:28%;
  margin: auto;
 
  
=======
  .rachid-comment P {
    margin-left: 3px;
    margin-top: 20px;
    font-size: small;
    font-family: roboto, sans-serif;
    display: grid;
    grid-template-columns: auto auto;
  }
  .btn1 {
    padding: 7px 20px;
    width: 120px;
    background-color: transparent;
    position: absolute;
    border: 1.9px solid;
    border-radius: 30px;
    margin-left: 300px;
    margin-top: 7px;
    box-shadow: 0px 3px #ff7e00;
  }
  .btncenter {
    margin: auto;
    position: absolute;
    top: 100%;
    right: 43%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .btn {
    font-size: 10px;
    padding: 7px 30px;
    width: 120px;
    background-color: transparent;
    position: absolute;
    border: 1.9px solid;
    border-radius: 30px;
    margin-left: 70%;
    box-shadow: 0px 3px #ff7e00;
  }
>>>>>>> ddbc845ccda6a5d4afe23ad4194f006cd543e653

  .allmemebers {
    margin-top: 40px;
    margin-left: 5px;
  }
}

@media only screen and (max-width: 600px) {
  #hamburger-icon {
    position: relative;
    left: 28%;
    margin: auto;
  }
}
<<<<<<< HEAD
@media only screen and (max-width: 500px){
  .imgmeal {
    border-radius: 19px;
    width:140px;
    height:120px ;
    padding-right: 6px;
  
    margin-top: 0px;
    
    
  }
}
=======
@media only screen and (max-width: 500px) {
  #hamburger-icon {
    position: relative;
    left: 24%;
    margin: auto;
  }
  .DETAILS-part {
    display: block;
    grid-template-columns: auto auto auto;
    font-family: Montserrat, sans-serif;
    margin-top: 30px;
    margin-left: 10px;
    height: 648px;
    width: 90%;
    border: 1px solid;
    border-radius: 19px;
    font-size: 10px;
  }
  .grid-aboutus p {
    font-family: Montserrat;
    font-weight: 300;
    text-align: justify;
    font-size: 10px;
    line-height: 1.9;
  }
  #aboutus {
    margin-left: 35%;
  }
  .chefx {
    margin-left: -50px;
  }
  .imgallmemeber {
    width: 450px;
    margin-left: 20px;
  }
  .gridcontainer {
    width: 100%;
    display: block;
    margin-left: 1%;
  }
  .gridcontainer img {
    width: 00px;
  }
}
@media only screen and (max-width: 500px) {
>>>>>>> ddbc845ccda6a5d4afe23ad4194f006cd543e653
  #hamburger-icon {
    position: relative;
    left: 24%;
    margin: auto;
  }
  .DETAILS-part {
    display: block;
    grid-template-columns: auto auto auto;
    font-family: Montserrat, sans-serif;
    margin-top: 30px;
    margin-left: 10px;
    height: 648px;
    width: 90%;
    border: 1px solid;
    border-radius: 19px;
    font-size: 10px;
  }
  .grid-aboutus p {
    font-family: Montserrat;
    font-weight: 300;
    text-align: justify;
    font-size: 10px;
    line-height: 1.9;
  }
  #aboutus {
    margin-left: 35%;
  }
<<<<<<< HEAD
  .chefx{
    margin-left:-50PX ;

  }
  .imgallmemeber{
    width:450px;
    margin-left:20px;
   }
   .gridcontainer {
     width: 100%;
    display:block;
=======
  .chefx {
    margin-left: -90px;
  }
  .imgallmemeber {
    width: 350px;
    margin-left: 20px;
  }
  .gridcontainer {
    width: 100%;
    display: block;
>>>>>>> ddbc845ccda6a5d4afe23ad4194f006cd543e653
    margin-left: 1%;
  }
  .gridcontainer img {
    width: 00px;
  }
<<<<<<< HEAD
}
=======
  .DETAILS-part h1 {
    margin-top: 10px;
    font-size: 33px;
    width: 100%;
    margin-left: 100px;
  }
  .ratings {
    margin-left: 20px;
    margin-top: 30px;
  }
}
@media only screen and (max-width: 500px) {
  #hamburger-icon {
    position: relative;
    left: 24%;
    margin: auto;
  }
  .DETAILS-part {
    display: block;
    grid-template-columns: auto auto auto;
    font-family: Montserrat, sans-serif;
    margin-top: 30px;
    margin-left: 10px;
    height: 448px;
    width: 80%;
    border: 1px solid;
    border-radius: 19px;
    font-size: 10px;
  }
  .grid-aboutus p {
    font-family: Montserrat;
    font-weight: 300;
    text-align: justify;
    font-size: 10px;
    line-height: 1.9;
  }
  #aboutus {
    margin-left: 35%;
  }
  .chefx {
    margin-left: -80px;
  }
  .chefx img {
    width: 250px;
  }
  .imgallmemeber {
    width: 250px;
    margin-left: 20px;
  }
  .gridcontainer {
    width: 100%;
    display: block;
    margin-left: 1%;
  }
  .gridcontainer img {
    width: 00px;
  }
  .DETAILS-part h1 {
    margin-top: 10px;
    font-size: 30px;
    width: 100%;
    margin-left: 100px;
  }
  .ratings {
    margin-left: 20px;
    margin-top: 30px;
    width: 250px;
  }
  .titls {
    font-size: 14px;
  }
  .DETAILS-part P {
    font-size: 10px;
  }

  .linebetween3 {
    width: 154px;
    height: 1px;
    background-color: black;
  }
}
>>>>>>> ddbc845ccda6a5d4afe23ad4194f006cd543e653
