*{
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;600&family=Pacifico&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Passion+One:wght@400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')


}
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;


}

.gridcontainer{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 50px;
    padding:40px;
}
.divh1{
    grid-template-columns: 100;
    background-color: orange;
}
.grid-aboutus{
    background-color: orangered;
    
}

.grid-aboutus p{
    font-family: Montserrat ;
    font-weight: 300;
    text-align: justify;
    font-size: 22px;


}
.grid-aboutus p e{
    color: orange;
}
 
    /* aicha */
    /* aicha */
    /* aicha */
    /* aicha */

h1{
     margin-left: 700px;
    font-family: Montserrat ;
    font-size: 70px;
}
 u.spelling{
     text-decoration:#FF7E00 underline ;
     
 }
.containre{
display: grid;
 grid-auto-columns: auto;
grid-template-areas: 
"Suma Bongani Abdullah";


}
h2{
 margin-left: 100px;
 font-family:pacifico, Passion One,sans-serif;
font-style: Regular;
Font-size: 40px; 
}
p{
    margin-left: 100px;
    font-family: Montserrat ;
    font-size: xX-large;
    
}
.box img{
    margin-right: 90px;
    margin-left: 100px;
    justify-content: space-around 100px;
    border-radius:  14px; ;
    width: 380px;
    height: 474pX;
    background: white;
}
.img-a{
    grid-area: Suma;
}
.img-a{
    grid-area: Bongani;
}
.img-a{
    grid-area: Abdullah;
}
.all-memebers{
    margin-left: 100px;
    display: grid;
 grid-auto-columns: auto;
 display: grid;
 grid-auto-columns: auto;
grid-template-areas: 
"img p";
   
}
.descreption{
   font-family:pa;
font: 2rem sans-serif;

}
.Sraspectur{
    margin-left: 100px;
    border-radius:10px ;
}
.footer-wrapper{
    width: 100%;
    height: auto;
    min-height: 200px;
    margin: auto;
    background-image: url(assets/footer-backround.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/* input{

    color: black;
    background-color: white;
    margin-left: 1300PX;
    border-radius :40px; 
    width: 406px;
    height: 48pX;
}
.button{
    margin-top:-50px;
   
    



} */
.form-footer input[type="text"] {
    margin-top: 10px;
    width: 256px;
    height: 46pX;
    margin-left:1250px ;
    border: none;
border-radius: 16px 0 0 16px;
outline: none;
padding-left: 10px;

}
::placeholder {
    font-size: 20px;
    padding-left: 10px;
    font-style: italic;
}
footer form input:hover{
    background-color: #e7e1db;
}
.form-footer input[type="button"] {
    margin-top: 10px;
    font-size: 25px;
    width: 206px;
    height: 46pX;
    border: none;
    background:#5FB924;
        margin-left: -5px;
    color: #fff;
    outline: none;
    border-radius:0px 16px 16px 0px;
    padding: 2px 12px;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}
.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}

